html, body {
  height: 100%;
  width: 100%;
}
p {
  line-height: 10px;
}
header {
  display: flex;
  margin: 100px, 0px;
  padding-top: 25px;
}

.header__back {
  width: 90%;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.header__list {
  width: auto;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.picture {
  width: 100%;
  display: flex;
  justify-content: center;
}
.picture>img {
  width: 80%;
  height: 80%;
  border-radius: 10%;
}

.info {
  width: 100%;
  display: flex;
}
.info__songname {
  font-size: 150%;
  font-weight: bold;
}
.info__singer {
  font-size: 100%;
  color: gray;
}

.timeline {
  display: flex;
  justify-content: space-around;
}

.playbutton {
  display: flex;
  justify-content: space-around;
}
.playbutton>i {
  size: 30%;
}