html, body {
  height: 100%;
  width: 100%;
  }

header {
  display: flex;
  margin: 100px, 0px;
  padding-top: 25px;
}

.header__back {
  width: 90%;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.header__search {
  width: auto;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.artist__picture {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}
.artist__picture>img {
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

.artist__name {
  display: flex;
  justify-content: center;
}

.artist__tag {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}
.button__shuffle>button, .button__like>button {
  font-size: 20px;
}

.song_list__song {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0px 0px 40px;
}
.song_list__song__pic {
  width: 20%;
}
.song_list__song__pic > img {
  width: 90%;
  height: 90%;
  border-radius: 10%;
}
.song_list__song__info {
  width: 70%;
}
.song_list__song__info__singer{
  color: gray;
  font-size: 100%;
}
.song_list__song__info__songname{
  color: black;
  font-weight: bold;
  font-size: 150%;
}
.song_list__song__detail {
  width: 10%;
}

#wrap {
  height: auto;
  min-height: 100%;
  padding-bottom: (footer height);
}
footer {
  height: (footer height);
  position: relative;
  transform: translateY(-100%);
}